{% style %}
.klaviyo_button_product {
    height: 60px;
}
#klaviyo_popup.overlay.hidden,
#klaviyo_popup.overlay .hidden {
  display: none;
}
#klaviyo_popup.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  z-index: 99999;
  place-items: center;
}
#klaviyo_popup .popup {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0003;
  border-radius: 6px;
  padding: 30px 40px;
  width: min(460px, 95%);
  --typeBaseSize: 14px;
}
#klaviyo_popup .popup .modal__title {
  margin: 0;
  font-size: 22px;
  line-height: 1.4;
  font-family: var(--semi-bold-family);
  font-weight: 700;
}
.klaviyo-success_msg h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--semi-bold-family);
  margin-top: 0;
}
.klaviyo-success_msg {
  margin-bottom: 0;
}
#klaviyo_popup .popup .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#klaviyo_popup .email_wrapper h4.modal__title {
  padding-right: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
#klaviyo_popup .email_wrapper label,
#klaviyo_popup .phone_wrapper label {
  font-size: calc(var(--typeBaseSize) + 0px) !important;
  font-weight: 500 !important;
  margin-bottom: 5px;
  letter-spacing: 0;
  margin: 1em 0;
  display: block;
  line-height: 1.4;
}
#klaviyo_popup .email_wrapper input,
#klaviyo_popup .phone_wrapper input {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #acacac;
  font-size: 14px;
  height: 46px;
  padding: 10px 16px;
  line-height: 1.3333333;
}
#klaviyo_popup .checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
#klaviyo_popup .checkbox-wrapper input[type=checkbox] {
  margin: 0;
}
#klaviyo_popup .checkbox-wrapper label p {
  margin-bottom: 0;
  line-height: 1;
  font-size: 14px;
  font-family: sof, Helvetica, sans-serif;
  margin-left: 10px;
  cursor: pointer;
}
#klaviyo_popup button.btn.back-in-stock-btn {
  margin-top: 2rem;
  width: 100%;
  font-size: 14px;
}
.swym-added-product-to-list.klaviyo,
.swym-added-product-to-list.klaviyo .swym-added-product-to-list {
  display: block;
  z-index: 99999;
}
.swym-added-product-content h4 {
  font-size: 18px;
  margin-bottom: 5px;
}
#klaviyo_popup .phone_wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #acacac;
  margin-bottom: 1rem;
  padding-block: 6px;
}
#klaviyo_popup .phone_wrapper .phone {
  flex: 1;
}
#klaviyo_popup .input_wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}
#klaviyo_popup .phone_wrapper .input_wrapper input {
  border: 0 !important;
  padding: 0;
  margin: 0;
  background: transparent;
}
#klaviyo_popup .phone_wrapper .input_wrapper input#js_number-prefix {
  max-width: 26px;
  font-weight: 600;
}
#klaviyo_popup .phone_wrapper .input_wrapper button#js_trigger-dropdown {
  display: grid;
  place-items: center;
  padding-inline: 10px;
}
#klaviyo_popup .phone_wrapper label {
  margin: 0;
}
#klaviyo_popup .term-and-conditions {
  margin-top: 1rem;
  font-size: 12px;
  letter-spacing: 0;
}
#klaviyo_popup .term-and-conditions a {
  text-decoration: underline;
  color: #005ebd;
}
.back-in-stock-btn {
  height: 50px;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  #klaviyo_popup .popup {padding: 30px 30px;}
}
{% endstyle %}
<div id="klaviyo_popup" class="overlay hidden klaviyo_popup">
  <div class="popup">
    <a class="close" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M16 8L8 16M8.00001 8L16 16" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
    <div class="content">
      <form
        class="back-in-stock"
        method="post"
        action="https://a.klaviyo.com/onsite/components/back-in-stock/subscribe"
      >
        <input type="hidden" name="g" value="KTq8i9">
        <input type="hidden" name="a" value="LkNEd5">
        <input type="hidden" name="product" value="{{product.id}}">
        <input type="hidden" name="platform" value="shopify">
        <h4 class="modal__title h3">
          <span class="product_title">{{ product.title }}</span>
          {% comment %} <span class="variant--title">{{ product.selected_or_first_available_variant.title | prepend:" " }}</span> {% endcomment %}
        </h4>
        <input
          name="variantId"
          class="variant_id"
          type="hidden"
          value="{{ product.selected_or_first_available_variant.id }}"
        >
        <div class="email_wrapper">
          <label>{{ settings.email_text }}<span style="color:#ff0000;">*</span></label>
          <input type="email" name="email" class="email" value="{{ customer.email }}" placeholder="Enter your email">
        </div>
        <div class="checkbox-wrapper">
          <input type="checkbox" id="subscribe" checked>
          <label for="subscribe">{{ settings.subscribe_to_email_text }}</label>
        </div>
        {% if settings.enable_sms_subscribe %}
        <div class="phone_wrapper">
          <button class="pn-selected-prefix" aria-label="Select phonenumber prefix" id="js_trigger-dropdown" tabindex="1">
            <svg width="24" height="24" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120"><path d="M85.81 120H34.19a8.39 8.39 0 0 1-8.38-8.39V8.39A8.39 8.39 0 0 1 34.19 0h51.62a8.39 8.39 0 0 1 8.38 8.39v103.22a8.39 8.39 0 0 1-8.38 8.39zM34.19 3.87a4.52 4.52 0 0 0-4.51 4.52v103.22a4.52 4.52 0 0 0 4.51 4.52h51.62a4.52 4.52 0 0 0 4.51-4.52V8.39a4.52 4.52 0 0 0-4.51-4.52z"/><path d="M73.7 10.32H46.3L39.28 3.3 42.01.57l5.89 5.88h24.2L77.99.57l2.73 2.73-7.02 7.02zM47.1 103.23h25.81v3.87H47.1z"/></svg>
          </button>
          <div class="phone">
            <label>{{ settings.phone_text }}</label>
            <div class="input_wrapper">
              <input class="pn-input__prefix" disabled value="{{ settings.country_code }}" type="text" name="phonenumber-prefix" id="js_number-prefix" tabindex="-1" />
              <input type="text" name="phone_number" class="phone_number" value="{% if customer.phone != blank %}{{ customer.phone | split: '+1' | last }}{% endif %}" placeholder="enter your number">
            </div>
          </div>
        </div>
        <div class="checkbox-wrapper">
          <input type="checkbox" id="sms_subscribe" checked>
          <label for="sms_subscribe">{{ settings.subscribe_to_sms_text }}</label>
        </div>
        {% endif %}
        {% if settings.content != blank %}
          <div class="term-and-conditions">{{ settings.content }}</div>
        {% endif %}
        <p class="error hidden" style="color:#ff0000">Please enter your email address.</p>
        <button type="button" class="button button--full-width button--primary back-in-stock-btn">{{ settings.button_text }}</button>
      </form>
    </div>
    <div class="klaviyo-success_msg hidden">
      <h4>YOU’RE ON THE LIST!</h4>
      {{ settings.Klaviyo_confirmation_text }}
    </div>
  </div>
</div>
<script>
(() => {
    let closeBtn = document.querySelector('#klaviyo_popup .close');
    closeBtn.addEventListener('click', function () {
      document.querySelector('#klaviyo_popup').classList.add('hidden');
      document.body.classList.remove('overflow-hidden-all');
    });
  })();
</script>