{% liquid 

    # USAGE:
    # obj variable passed from snippet render as 'collection.metafields.custom.merch_box.value'

    assign merch_image = obj.image | default: settings.merch_box_default_image
    assign num_slots = obj.number_of_columns | default: 1
    assign title = obj.merch_box_title 
    assign title_color = obj.title_color | default: 'white'
    assign button_text = obj.button_text
    assign button_link = obj.button_link.value.url

    assign button_border = obj.button_border_color | default: 'transparent'
    assign button_text_color = obj.button_text_color | default: 'white'
    assign button_bg_color = obj.button_background_color | default: 'transparent'
    assign use_underline = obj.use_underline | default: false
    assign use_bottom_text = obj.use_bottom_text | default: false
    assign content_y_position = obj.content_y_position | default: 'center'
    assign content_x_position = obj.content_x_position | default: 'center'

-%}

<div class="merch-box num-slots-{{ num_slots }} {% if use_bottom_text %} use-bottom-text {% endif %}">
    <div class="img-container">
        {{ merch_image | image_url: width: 1200 | image_tag: widths: '600, 900, 1100' }}
    </div>
    <div class="content-container y-alignment--{{ content_y_position }} x-alignment--{{ content_x_position }}">
        <div class="container-container">
            {% if title %}
                <h3 style="color: {{ title_color }};">
                    {{ title }}
                </h3>
            {% endif %}
            {% if button_link %}
                <a href="{{ button_link }}" 
                class="merch-button" 
                style="border: 1px solid {{ button_border }}; color: {{ button_text_color }}; background-color: {{ button_bg_color }}; {% if use_underline %} text-decoration: underline; {% endif %}">
                    {{ button_text }}
                </a>
            {% endif %}
        </div>
    </div>
</div>
