{% liquid 

    assign active_filter_count = 0
    assign sort_by = results.sort_by | default: results.default_sort_by

    assign filter_blocks = blocks | where: "type", "collection-filter-link"

    for filter in results.filters
        assign active_filter_count = active_filter_count | plus: filter.active_values.size
    endfor

-%}

<minty-fresh-filters {% if request.page_type == "search" %}data-on-search="true"{% endif %}>
    <minty-fresh-filter-drawer>
        <form>
            <div class="inner">
                <div class="top-area">
                    <span>Filter <span class="minty-fresh-active-filter-count">({{ active_filter_count }})</span></span>
                    <button id="close-filter-drawer" type="button">
                        {% render 'icon-close' %}
                    </button>
                </div>
                <div class="filters-area">
                    <div class="hidden hidden-sort-select">
                        <select name="sort_by">
                            {%- for option in results.sort_options -%}
                              <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                            {%- endfor -%}
                          </select>
                    </div>
                    {% for filter in results.filters %}
                        {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
                            <div class="filter-area">
                                <div class="filter-area-wrap">
                                    <span class="label" data-label="{{ filter.label }}">{{ filter.label | escape | replace: 'Product type', 'Style' }}</span>
                                    {% case filter.type %}
                                        {% when 'boolean' %}
                                            {% for value in filter.values %}
                                            <minty-fresh-filter-input>
                                                <input type="checkbox" {% if value.active %} checked {% endif %} name="{{ value.param_name }}" value="{{ value.value }}" >
                                            </minty-fresh-filter-input>
                                            {% endfor %}
                                        {% when 'list' %}
                                            {% for value in filter.values %}
                                                <minty-fresh-filter-input>
                                                    <input name="{{ value.param_name }}" value="{{ value.value }}" type="checkbox" {% if value.active %} checked {% endif %}>
                                                    {% if filter.label == "Color" %}
                                                        <span class="color-box" data-value="{{ value.value }}"></span>
                                                    {% endif %}
                                                    <div>
                                                        <span class="color-swatch">
                                                            {% comment %}
                                                        
                                                                For some reason, the filter type for 'availability' is 'list'. This means if
                                                                I want to change the label / text for 'In Stock', I have to do it here by 
                                                                conditioning on string '1' for 'In Stock' = TRUE
                                                             
                                                            {% endcomment %}
                                                            {% if value.value == '1' %}
                                                                    In Stock
                                                                {% else %}
                                                                    {{ value.value }}
                                                            {% endif %}
                                                        </span>
                                                        <span class="available-options">({{ value.count }})</span>
                                                    </div>
                                                </minty-fresh-filter-input>
                                            {% endfor %}
                                        {% when 'price_range'%}
                                            {% liquid
        
                                                assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                                                assign uses_comma_decimals = false
                                                assign range_min = filter.min_value.value | default: 0
                                                assign range_max = filter.max_value.value | default: filter.range_max 
        
                                                if currencies_using_comma_decimals contains cart.currency.iso_code
                                                    assign uses_comma_decimals = true
                                                endif
                                             
                                            %}
                                            <minty-fresh-price-range>
                                                <div class="number-display-box" style="display: none;">

                                                    <span id="current-low">${{ range_min | divided_by: 100 }}</span>
                                                    -
                                                    <span id="current-high">${{ range_max | divided_by: 100 }}</span>
                                                </div>

                                                <div class="double-slider-box">
                                                    <div class="range-slider">
                                                        <span class="slider-track"></span>
                                                        <input type="range" name="{{ filter.min_value.param_name }}" class="min-val" min="0" max="{{ filter.range_max | divided_by: 100 }}" value="{{ range_min |  divided_by: 100 }}" oninput="slideMin()"/>
                                                        <input type="range" name="{{ filter.max_value.param_name }}" class="max-val" min="0" max="{{ filter.range_max | divided_by: 100 }}" value="{{ range_max |  divided_by: 100 }}" oninput="slideMax()"/>
                                                        <div class="tooltip min-tooltip"></div>
                                                        <div class="tooltip max-tooltip"></div>
                                                    </div>
                                                  
                                                    <div class="input-box">

                                                        <div class="min-box">
                                                            <div class="input-wrap">
                                                                {% comment %} <span class="input-addon"></span> {% endcomment %}
                                                                <label for="min_input">From:</label>
                                                                $<input type="text" name="min_input" class="input-field min-input" onchange="setMinInput()">
                                                            </div>
                                                        </div>
                                                            

                                                        <div class="max-box">
                                                            <div class="input-wrap">
                                                                {% comment %} <span class="input-addon"></span> {% endcomment %}
                                                                <label for="max_input">To:</label>
                                                                $<input type="text" name="max_input" class="input-field max-input" onchange="setMaxInput()">
                                                            </div>
                                                        </div>

                                                    </div>
                                                 
                                                </div>
                                                {% comment %} 
                                                <input type="range" id="fromSlider" placeholder="{{ range_min }}" min="{{ range_min }}" max="{{ range_max }}" />
                                                <input type="range" id="toSlider" placeholder="{{ range_min }}" min="{{ range_min }}" max="{{ range_max }}" /> 
                                                {% endcomment %}
                                            </minty-fresh-price-range>
                                    {% endcase %}
                                </div>
                            </div>
                    {% endfor %}
                </div>
                <div class="apply-area">
                    <button id="apply">Apply</button>
                    {% if request.page_type == "collection" %}
                        <a id="reset" href="{{ collection.url }}">Reset</a>
                    {% endif %}
                    {% if request.page_type == "search" %}
                        <input type="search" class="hidden" name="q" value="{{ results.terms }}">
                        <a id="reset" href="/search?q={{ results.terms }}">Reset</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </minty-fresh-filter-drawer>

    {% if section.blocks.size > 0 %}
        <ul>
            {% for block in filter_blocks %}
                {% assign on_collection = false %}

                {% if collection.handle == block.settings.collection.handle %}
                    {% assign on_collection = true %}
                {% endif %}

                <li>
                    <a href="{{ block.settings.collection.url }}" {% if on_collection %} class="on-collection" {% endif %}>
                        {% if block.settings.title != blank %}
                            {{ block.settings.title | strip }}
                        {% else %}
                            {{ block.settings.collection.title | strip }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="filter-actions-container">
        <button id="toggle-grid" class="collection-view">
            {% render 'grid-view-svg' %}
            <span class="collection-view"></span>   
        </button>
        <div class="filter-sort-button-container {% if request.page_type == "search" %} search-page-filters {% endif %}">
            <button id="toggle-filter-drawer">
                Filter
                <span class="minty-fresh-active-filter-count">({{ active_filter_count }})</span>
            </button>
            <div class="sort-drawer-area">
                <button id="toggle-sort-drawer">
                    Sort
                </button>
                <minty-fresh-sort-drawer>
                    <ul>
                        {% for option in results.sort_options %}
                            <li data-value="{{ option.value | escape }}"{% if option.value == sort_by %} class="active" {% endif %}>
                                {{ option.name | escape }}
                            </li>
                        {% endfor %}
                    </ul>
                </minty-fresh-sort-drawer>
            </div>
        </div>
    </div>
</minty-fresh-filters>