<style>

  /* for variant swapper AB */

  .pdp-hero-section .pdp-info-col .custom-variant-options ul:not(.swiper) {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    padding-bottom: 0.75rem;
  }

  .pdp-hero-section .pdp-info-col .custom-variant-options ul:not(.swiper)::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px !important;
    height: 5px;
  }

  .pdp-hero-section .pdp-info-col .custom-variant-options ul:not(.swiper)::-webkit-scrollbar-thumb {
    height: 3px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 3px rgb(0, 0, 0);
  }

  .variant-picker-group-wrapper {
    overflow: hidden;
  }

  /* end for AB */


  .product-colors {
    margin: 20px 0;
  }

  .product-colors ul {
    margin-block-start: 0em;
    padding-inline-start: 0em;
  }

  .product-colors ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid white;
    margin-right: 2px;
  }
  .product-colors li:hover,
  .highlight {
    border: 1px solid #e0dfde;
  }

  .tooltip-block:hover:after {
    border: 1px solid #fc0;
    padding: 3px 6px;
    background: #fffea1;
    content: attr(data-title);
    position: absolute;
    right: -50px;
    top: 100px;
  }

  /* .size_title{font-weight: 600;text-transform: uppercase;margin-bottom: 10px;} */

  .swatch_image-a{
    display: flex;
  }
</style>

{% liquid


  assign colorway_collection_handle = product.metafields.custom.colorway_collection.value.handle
  assign colorway_collection = collections[colorway_collection_handle].products

  assign isShareholder = false
  for tag in customer.tags
    if tag == 'shareholder'
      assign isShareholder = true
    endif
  endfor
%}

<div class="product-colors color_group color_group_block custom-variant-options colorway-optimized">
  {% comment %} color products {% endcomment %}
  <div class="variant-picker-group-wrapper">
    <div class="custom-variant-title">
      <span>{{ 'MORE COLORS:' | upcase }}</span> 
      {% comment %} {% if current_product_size == null %}
        <strong>{{ current_product_color }}</strong>
      {% endif %} {% endcomment %}
      {% if on_special_leather %}
        {% render 'special-care-tooltip' %}
      {% endif %}
    </div>
    <ul class="custom-variant-list">
      {% for product in colorway_collection %}

        {% liquid 

          assign isCurrent = false

          ####### new way of assigning product title

          assign product_type = product.metafields.custom.product_title_type
          assign product_color = product.metafields.custom.product_title_color_descriptor
          assign product_size = product.metafields.hammitt.size.value

          #######

          ## Only show products that are not small, medium, or large, if this metafield dosnt exist, then we are on a 
          ## color variant with no sizes.
          if product_size and product_size != 'One Size'
            continue
          endif
  
          # Only show exclusive product if customer has shareholder tag and seo hidden is 1 #
          if isShareholder == false and product.metafields.seo.hidden == 1
            continue 
          endif
  
          if product.metafields.custom.hide_product_all_customers == 1
            continue
          endif

          if product.handle == top_level_handle
            assign isCurrent = true
          endif
  
        -%}
  
        <li data-tooltip="{{ product_color }}" class="{% if isCurrent %} current-swatch {% endif %}">
          <div class="image customSwatch">
            <a 
              href="{{ product.url }}" 
              data-product-title="{{ product.title }}" 
              data-sku="{{ product.selected_or_first_available_variant.sku }}"
              data-product-img="{{ product.featured_image | img_url: 'medium' }}"
              aria-label="{{ product_color }}" 
              {% if isCurrent %}style="outline: 1px solid black;"{% endif %} 
              class="swatch_image-a"
              data-test-size="{{ product.images.size }}"
              >
              {% if product.featured_image %}
                {{ product.featured_image | image_url: width: 80 | image_url: height: 80 | image_tag: preload: true }}
              {% endif %}
            </a>
          </div>
        </li>
  
      {% endfor %}
    </ul>
  </div>

  {% comment %} Small products {% endcomment %}
  <div class="variant-picker-group-wrapper">
      <div class="custom-variant-title">
        <span>{{ 'Small:' | upcase }}</span> 
        {% if on_special_leather %}
          {% render 'special-care-tooltip' %}
        {% endif %}
      </div>
    <ul class="custom-variant-list">
      {%- for product in colorway_collection -%}

        {% liquid 
        
          assign isCurrent = false

          ####### new way of assigning product title

          assign product_type = product.metafields.custom.product_title_type
          assign product_color = product.metafields.custom.product_title_color_descriptor
          assign product_size = product.metafields.hammitt.size.value
          assign formatted_size_string = null

          if product_size 

            assign formatted_size_string = product_size | downcase | strip

          endif

          #######
      
          unless formatted_size_string == "small"
            continue
          endunless

          # Only show exclusive product if customer has shareholder tag and seo hidden is 1 #
          if isShareholder == false and product.metafields.seo.hidden == 1
            continue 
          endif

          if product.metafields.custom.hide_product_all_customers == 1
            continue
          endif

          if product.handle == top_level_handle
            assign isCurrent = true
          endif

        -%}

          <li data-tooltip="{{ product_color }}" class="{% if isCurrent %} current-swatch {% endif %}">
            <div class="image customSwatch">
              <a 
                href="{{ product.url }}" 
                data-product-title="{{ product.title }}" 
                data-sku="{{ product.selected_or_first_available_variant.sku }}"
                data-product-img="{{ product.featured_image | img_url: 'medium' }}"
                aria-label="{{ product_color }}" {% if isCurrent %}style="outline: 1px solid black;"{% endif %} class="swatch_image-a">
                {% if product.featured_image %}
                  {{ product.featured_image | image_url: width: 80 | image_url: height: 80 | image_tag: preload: true }}
                {% endif %}
              </a>
            </div>
          </li>

      {% endfor %}
    </ul>
  </div>
  
  {% comment %} Medium products {% endcomment %}
  <div class="variant-picker-group-wrapper">
      <div class="custom-variant-title">
        <span>{{ 'Medium:' | upcase }}</span> 

        {% if on_special_leather %}
          {% render 'special-care-tooltip' %}
        {% endif %}
      </div>
    <ul class="custom-variant-list">
      {%- for product in colorway_collection -%}
     
        {% liquid 
        
          assign isCurrent = false

          ####### new way of assigning product title

          assign product_type = product.metafields.custom.product_title_type
          assign product_color = product.metafields.custom.product_title_color_descriptor
          assign product_size = product.metafields.hammitt.size.value
          assign formatted_size_string = null
          
          if product_size 

            assign formatted_size_string = product_size | downcase | strip

          endif

          #######
      
          unless formatted_size_string == "medium" 
            continue
          endunless

          if product.metafields.custom.product_title_size_subcategory == "Short Strap"
            continue
          endif
  
          # Only show exclusive product if customer has shareholder tag and seo hidden is 1 #
          if isShareholder == false and product.metafields.seo.hidden == 1
            continue 
          endif
  
          if product.metafields.custom.hide_product_all_customers == 1
            continue
          endif
  
          if product.handle == top_level_handle
            assign isCurrent = true
          endif
  
        -%}
  
          <li data-tooltip="{{ product_color }}" class="{% if isCurrent %} current-swatch {% endif %}" data-test-sub="{{ product.metafialds.custom.product_title_size_subcategory }}">
            <div class="image customSwatch">
              <a 
                {{ isCurrent }}
                href="{{ product.url }}" 
                data-product-title="{{ product.title }}" 
                data-sku="{{ product.selected_or_first_available_variant.sku }}"
                data-product-img="{{ product.featured_image | img_url: 'medium' }}"
                aria-label="{{ product_color }}" {% if isCurrent %}style="outline: 1px solid black;"{% endif %} class="swatch_image-a">
                {% if product.featured_image %}
                  {{ product.featured_image | image_url: width: 80 | image_url: height: 80 | image_tag: preload: true }}
                {% endif %}
              </a>
            </div>
          </li>
  
      {% endfor %}
    </ul>
  </div>
  
  <div class="variant-picker-group-wrapper">
    <div class="custom-variant-title">
      <span>{{ 'Medium Short Strap:' | upcase }}</span> 

      {% if on_special_leather %}
        {% render 'special-care-tooltip' %}
      {% endif %}
    </div>
    <ul class="custom-variant-list">
      {%- for product in colorway_collection -%}
     
        {% liquid 
        
          assign isCurrent = false

          ####### new way of assigning product title

          assign product_type = product.metafields.custom.product_title_type
          assign product_color = product.metafields.custom.product_title_color_descriptor
          assign product_size = product.metafields.hammitt.size.value
          assign formatted_size_string = null
          
          if product_size 

            assign formatted_size_string = product_size | downcase | strip

          endif

          #######
      
          unless formatted_size_string == "medium" 
            continue   
          endunless

          if product.metafields.custom.product_title_size_subcategory != 'Short Strap'
            continue
          endif
  
          # Only show exclusive product if customer has shareholder tag and seo hidden is 1 #
          if isShareholder == false and product.metafields.seo.hidden == 1
            continue 
          endif
  
          if product.metafields.custom.hide_product_all_customers == 1
            continue
          endif
  
          if product.handle == top_level_handle
            assign isCurrent = true
          endif
  
        -%}
  
          <li data-tooltip="{{ product_color }}" class="{% if isCurrent %} current-swatch {% endif %}" data-test-sub="{{ product.metafialds.custom.product_title_size_subcategory }}">
            <div class="image customSwatch">
              <a 
                {{ isCurrent }}
                href="{{ product.url }}" 
                data-product-title="{{ product.title }}" 
                data-sku="{{ product.selected_or_first_available_variant.sku }}"
                data-product-img="{{ product.featured_image | img_url: 'medium' }}"
                aria-label="{{ product_color }}" {% if isCurrent %}style="outline: 1px solid black;"{% endif %} class="swatch_image-a">
                {% if product.featured_image %}
                  {{ product.featured_image | image_url: width: 80 | image_url: height: 80 | image_tag: preload: true }}
                {% endif %}
              </a>
            </div>
          </li>
  
      {% endfor %}
    </ul>
  </div>

  {% comment %} Large products {% endcomment %}
  <div class="variant-picker-group-wrapper">
      <div class="custom-variant-title">
        <span>{{ 'Large:' | upcase }}</span> 
        {% if on_special_leather %}
          {% render 'special-care-tooltip' %}
        {% endif %}
      </div>
    <ul class="custom-variant-list">
      {%- for product in colorway_collection -%}
  
        {% liquid 
        
          assign isCurrent = false

          ####### new way of assigning product title

          assign product_type = product.metafields.custom.product_title_type
          assign product_color = product.metafields.custom.product_title_color_descriptor
          assign product_size = product.metafields.hammitt.size.value
          assign formatted_size_string = null
          
          if product_size 

            assign formatted_size_string = product_size | downcase | strip

          endif

          #######
      
          unless formatted_size_string == "large"
            continue
          endunless
  
          # Only show exclusive product if customer has shareholder tag and seo hidden is 1 #
          if isShareholder == false and product.metafields.seo.hidden == 1
            continue 
          endif
  
          if product.metafields.custom.hide_product_all_customers == 1
            continue
          endif
  
          if product.handle == top_level_handle
            assign isCurrent = true
          endif
  
        -%}
  
          <li data-tooltip="{{ product_color }}" class="{% if isCurrent %} current-swatch {% endif %}">
            <div class="image customSwatch">
              <a 
                {{ isCurrent }}
                href="{{ product.url }}" 
                data-product-title="{{ product.title }}" 
                data-sku="{{ product.selected_or_first_available_variant.sku }}"
                data-product-img="{{ product.featured_image | img_url: 'medium' }}"
                aria-label="{{ product_color }}" {% if isCurrent %}style="outline: 1px solid black;"{% endif %} class="swatch_image-a">
                {% if product.featured_image %}
                  {{ product.featured_image | image_url: width: 80 | image_url: height: 80 | image_tag: preload: true }}
                {% endif %}
              </a>
            </div>
          </li>
  
      {%- endfor -%}
    </ul>
  </div>
  {% comment %} Extra Large products {% endcomment %}
  <div class="variant-picker-group-wrapper">
      <div class="custom-variant-title">
        <span>{{ 'Extra Large:' | upcase }}</span> 
        {% if on_special_leather %}
          {% render 'special-care-tooltip' %}
        {% endif %}
      </div>
    <ul class="custom-variant-list">
      {%- for product in colorway_collection -%}
  
        {% liquid 
        
          assign isCurrent = false

          ####### new way of assigning product title

          assign product_type = product.metafields.custom.product_title_type
          assign product_color = product.metafields.custom.product_title_color_descriptor
          assign product_size = product.metafields.hammitt.size.value
          assign formatted_size_string = null
          
          if product_size 

            assign formatted_size_string = product_size | downcase | strip

          endif

          #######
      
          unless formatted_size_string == "extra large"
            continue
          endunless
  
          # Only show exclusive product if customer has shareholder tag and seo hidden is 1 #
          if isShareholder == false and product.metafields.seo.hidden == 1
            continue 
          endif
  
          if product.metafields.custom.hide_product_all_customers == 1
            continue
          endif
  
          if product.handle == top_level_handle
            assign isCurrent = true
          endif
  
        -%}
  
          <li data-tooltip="{{ product_color }}" class="{% if isCurrent %} current-swatch {% endif %}">
            <div class="image customSwatch">
              <a 
                {{ isCurrent }}
                href="{{ product.url }}" 
                data-product-title="{{ product.title }}" 
                data-sku="{{ product.selected_or_first_available_variant.sku }}"
                data-product-img="{{ product.featured_image | img_url: 'medium' }}"
                aria-label="{{ product_color }}" {% if isCurrent %}style="outline: 1px solid black;"{% endif %} class="swatch_image-a">
                {% if product.featured_image %}
                  {{ product.featured_image | image_url: width: 80 | image_url: height: 80 | image_tag: preload: true }}
                {% endif %}
              </a>
            </div>
          </li>
  
      {%- endfor -%}
    </ul>
  </div>
  
    <script class="hidden" type="application/json" id="data-product-variant-json">
      {
        "variant-data": {{ colorway_collection | json }}
      }
  </script>
</div>