<upsell-item class="upsell relative swiper-slide" data-title="{{ product.title }}">
  <a data-id="{{ product.selected_or_first_available_variant.id }}" href="/products/{{ product.handle }}" class="link--fill-parent quick-add-btn">
    <span class="visually-hidden">Link to {{ product.title }}</span>
  </a>
  <div class="upsell__image"><img src="{{ product.images[0] | img_url: '200x' }}" width="100%" alt="{{ product.title }}"></div>
  <div class="upsell__title">{{ product.title }}</div>
  <div class="upsell__price">{{ product.price | money }}</div>
</upsell-item>