<upsell-item class="grid__item upsell relative" data-title="{{ product.title }}">
  <a data-id="{{ product.selected_or_first_available_variant.id }}" href="/products/{{ product.handle }}" class="link--fill-parent quick-add-btn">
    <span class="visually-hidden">Link to {{ product.title }}</span>
  </a>
  <div class="upsell__image"><img src="{{ product.images[0] | img_url: '200x' }}" width="100%" /></div>
  <div class="upsell__title">{{ product.title | split: settings.split_value | first }}</div>
</upsell-item>