<div class="flex justify-center value-props small-flex-column">
  <div class="value-prop">
    {%- render 'icon-value-prop-1' -%}
    <span class="value-prop__text">{{ 'general.value_props.value_prop_1' | t }}</span>
    {% if show_descriptions %}
    <span class="value-prop__description">
      {{ 'general.value_props.value_prop_1_description_html' | t }}
    </span>
    {% endif %}
  </div>
  <div class="value-prop">
    {%- render 'icon-value-prop-2' -%}
    <span class="value-prop__text">{{ 'general.value_props.value_prop_2' | t }}</span>
    {% if show_descriptions %}
    <span class="value-prop__description">
      {{ 'general.value_props.value_prop_2_description_html' | t }}
    </span>
    {% endif %}
  </div>
  <div class="value-prop">
    {%- render 'icon-value-prop-3' -%}
    <span class="value-prop__text">{{ 'general.value_props.value_prop_3' | t }}</span>
    {% if show_descriptions %}
    <span class="value-prop__description">
      {{ 'general.value_props.value_prop_3_description_html' | t }}
    </span>
    {% endif %}
  </div>
</div>