<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/99agSqcD2Bh1EPly9czXTA" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="843974" 
    data-yotpo-product-id="{{product.id}}" 
    data-yotpo-variant-id="{{ product.selected_or_first_available_variant.id }}" 
    data-yotpo-product-variants="{{ product.variants | json | url_encode }}" 
    data-yotpo-product-collections="{{product.collections | json | url_encode}}" 
    data-yotpo-product-tags="{{ product.tags | json | url_encode }}" 
    data-yotpo-product-type="{{ product.type | json | url_encode }}"
    data-yotpo-variant-id-selector="input[name='id']"
></div>