{%- capture json -%}
{
  "loop": true,
  "autoHeight": true,
  "autoplay": {
	"delay":3000
  },
  "speed": 600,
  "effect":"fade",
  "fadeEffect": {
	"crossFade": false
  }
}
{%- endcapture -%}
<script>
  window.announcementSticky = {{ settings.sticky_announcement }};
</script>
{% if settings.sticky_announcement %}
<style>
  #shopify-section-announcement-bar {
    position: sticky;
    top: 0;
    z-index: 3;
  }
  {% for block in section.blocks %}
    .announcement-bar.block--{{ block.id }} p {
      color: {{ block.settings.text_color }} !important;
    }

    .announcement-bar.block--{{ block.id }} {
      background-color: {{ block.settings.background_color }} !important;
    }
  {% endfor %}
</style>
{% endif %}
<div class="swiper announcement-slider" data-json='{{ json }}'>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for block in section.blocks %}
    <div class="swiper-slide">
      <div class="announcement-bar block--{{ block.id }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
            {%- endif -%}
            <p class="announcement-bar__message">
              {{ block.settings.text | escape }}
            </p>
            {%- if block.settings.link != blank -%}
          </a>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
    {% endfor %}
  </div>
  

</div>

{% if template contains 'sl-6D5566D8' %}
  <style>
    .announcement-bar__link .announcement-bar__message {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      padding-top: 4.5px;
      padding-bottom: 4.5px;
    }
    @media screen and (max-width: 767px) {
      .announcement-bar__link .announcement-bar__message {
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 10px;
        line-height: 12px;
      }
    }
  </style>
{% endif %}
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#000000"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
