{% style %}

    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.background_color }};
    }

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="jr-material-guide page-width">
        <ul class="care-guide-items">
            {% for block in section.blocks %}
                <li class="care-guide-accordion-item__container {{ block.settings.css_class }}">
                    <div class="care-guide-accordion-item__header" style="background-image: url({{ block.settings.item_bg_image | img_url: '1000x1000' }})">
                        <p >{{ block.settings.item_title }}</p>
                        <div class="icons">
                            {% render 'icon-plus' %}
                            {% render 'icon-minus' %}
                        </div>
                    </div>
                    <div class="care-guide-accordion-item__content">
                        <div class="care-guide-accordion-item__description">
                            {{ block.settings.item_description | richtext }}
                        </div>
                        {% if block.settings.item_products %}
                            <ul class="material-guide-product-list">
                                {% for product in block.settings.item_products %}
                                    <li>
                                        {% render 'material-guide-product-card', product:product %}
                                    </li>
                                {% endfor %}    
                            </ul>
                        {% endif %}
                    </div>  
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>

    window.addEventListener('DOMContentLoaded', () => {

        const accordionItems = document.querySelectorAll('[data-section-id="{{ section.id }}"] .care-guide-accordion-item__container .care-guide-accordion-item__header')
        const guideATCs = document.querySelectorAll('[data-section-id="{{ section.id }}"] .jr-material-guide .care-guide-accordion-item__content form button')

        accordionItems.forEach((item) => {
            item.addEventListener('click', () => {
                item.closest('.care-guide-accordion-item__container').classList.toggle('active')
            })
        })

        guideATCs.forEach((atc) => {
            atc.addEventListener('click', (e) => {
                e.preventDefault()
                const form = atc.closest('form')
                const itemObj = {
                    items: [
                        {
                            id: form.querySelector('input[name="id"]').value,
                            quantity: 1
                        }
                    ],
                    sections: "cart-drawer,cart-icon-bubble,main-cart-items"
                }

                form.querySelector('button').classList.add('loading')

                addToCart(itemObj)

                setTimeout(() => {
                    // this should reall be done in the success callback of the addToCart function
                    // but for the sake of simplicity, we are using a timeout here
                    form.querySelector('button').classList.remove('loading')
                }, 2000)
            })
        })
    })

</script>

{% schema %}
    {
        "name": "JR Care LP Material Guide",
        "presets": [
            {
                "name": "JR Care LP Material Guide"
            }
        ],
        "enabled_on": {
            "templates": [
                "page"
            ]
        },
        "settings": [
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#ffffff"
            }
        ],
        "blocks": [
            {
                "type": "care-guide-item",
                "name": "Care Guide Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "item_bg_image",
                        "label": "Accordian Background Image"
                    },
                    {
                        "type": "text",
                        "id": "item_title",
                        "label": "Item Title / Material Name",
                        "default": "Material Name"
                    },
                    {
                        "type": "richtext",
                        "id": "item_description",
                        "label": "Item Description",
                        "default": "<p>Material description goes here. This is a rich text field that can include links, images, and other formatting.</p>"
                    },
                    {
                        "type": "product_list",
                        "id": "item_products",
                        "label": "Product list inside accordian item"
                    },
                    {
                        "type": "text",
                        "id": "css_class",
                        "label": "CSS Class"
                    }
                ]
            }
        ]
    }
{% endschema %}
