{% style %}

    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.background_color }};
    }

    [data-section-id="{{ section.id }}"] h2,
    [data-section-id="{{ section.id }}"] h3,
    [data-section-id="{{ section.id }}"] p {
        color: {{ section.settings.text_color }};
    }

{% endstyle %}

<div data-section-id="{{ section.id }}" {% if section.settings.href %} id="{{ section.settings.href }}" {% endif %}>
    <div class="jr-featured-products-and-image page-width">
        <div class="col">
            {% if section.settings.image != blank %}
                {% if section.settings.image_link != blank %}
                    <a href="{{ section.settings.image_link }}" class="img-container">
                        {{ section.settings.image | image_url: width: 1200 | image_tag }}
                    </a>
                {% else %}
                    <div class="img-container">
                        {{ section.settings.image | image_url: width: 1200 | image_tag }}
                    </div>
                {% endif %}
            {% endif %}
            {% if section.settings.header != blank or section.settings.subheader != blank %}
                <div class="container mobile">
                    {% if section.settings.header != blank %}
                        <h2>{{ section.settings.header }}</h2>
                    {% endif %}
                    {% if section.settings.subheader != blank %}
                        <h3>{{ section.settings.subheader }}</h3>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col">

            {% if section.settings.header != blank %}
                <h2 class="desktop">{{ section.settings.header }}</h2>
            {% endif %}
            {% if section.settings.subheader != blank %}
                <h3 class="desktop">{{ section.settings.subheader }}</h3>
            {% endif %}

            {% if section.settings.featured_products != blank or section.settings.featured_collection != blank %}
                <ul class="featured-products-list">                        
                  {% if section.settings.featured_collection != blank %}
                        {% for product in section.settings.featured_collection.products %}
                            {% if product.available %}
                                <li>
                                {% render 'card-product', card_product: product %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for product in section.settings.featured_products %}
                            {% assign product = all_products[product] %}
                            {% if product.available %}
                                <li>
                                    {% render 'card-product', card_product: product %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Featured Products + Image",
        "presets": [
            {
                "name": "Featured Products + Image"
            }
        ],
        "settings": [
            {
                "type": "text",
                "id": "href",
                "label": "Section ID (optional)"
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#000000"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Featured Image"
            },
            {
                "type": "url",
                "id": "image_link",
                "label": "Image Link (optional)"
            },  
            {
                "type": "text",
                "id": "header",
                "label": "Header",
                "default": "Featured Products"
            },
            {
                "type": "textarea",
                "id": "subheader",
                "label": "Subheading",
                "default": "Discover our exclusive range of products designed to enhance your lifestyle."
            },
            {
                "type": "product_list",
                "id": "featured_products",
                "label": "Featured Products"
            },
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "Featured Collection",
                "info": "***** If this collection is set, it will override the featured products list above *****"
            }
        ],
        "blocks": [
        ]
    }
{% endschema %}
