{% style %}

    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.background_color }};
    }

    [data-section-id="{{ section.id }}"] h3,
    [data-section-id="{{ section.id }}"] p,
    [data-section-id="{{ section.id }}"] h5 {
        color: {{ section.settings.text_color }};
    }

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="jr-customer-reviews page-width">
        <div class="top-area">
            {% if section.settings.header %}
                <h2>{{ section.settings.header }}</h2>
            {% endif %}
            {% if section.settings.url %}
                <a href="{{ section.settings.url }}">{{ section.settings.url_text }}</a>
            {% endif %}
        </div>
        <div class="swiper-reviews">
            <div class="reviews-container swiper-wrapper">
                {% for block in section.blocks %}
                    {% assign product = all_products[block.settings.product] %}
                    {% if block.settings.product != blank %}
                            <a href="{{ product.url }}" class="review-card swiper-slide">
                        {% else %}
                            <div class="review-card swiper-slide">
                        {% endif %}
                            <div class="review-card-inner">
                                <div class="card-img-container">
                                    {{ block.settings.review_image | image_url: width: 500 | image_tag }}
                                </div>
                                {% if section.settings.stars_image %}
                                    <div class="star-img-container">
                                        {{ section.settings.stars_image | image_url: width: 300 | image_tag }}
                                    </div>
                                {% endif %}
                                <div class="review-content">
                                    <h3 class="h4">{{ block.settings.title }}</h3>
                                    <p>{{ block.settings.review_text }}</p>
                                    <h5>{{ block.settings.customer_name }}</h5>
                                </div>
                            </div>

                    {% if block.settings.product != blank %}
                        </a>
                    {% else %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% comment %} <div class="swiper-scrollbar"></div> {% endcomment %}
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {

        const sectionSwiper = document.querySelector('[data-section-id="{{ section.id }}"] .swiper-reviews')
        
        const swiper = new Swiper(sectionSwiper, {
            autoHeight: false,
            speed: 400,
            spaceBetween: 8,
            slidesPerView: 1.2,
            centeredSlides: false,
            breakpoints: {
                768: {
                    slidesPerView: 4,
                    spaceBetween: 12,
                }
            },
            scrollbar: {
                el: '[data-section-id="{{ section.id }}"] .swiper-scrollbar',
                draggable: true
            }
        })
    })
</script>

{% schema %}
    {
        "name": "JR Customer Reviews",
        "presets": [
            {
                "name": "JR Customer Reviews"
            }
        ],
        "settings": [
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
                "default": "#000000"
            },
            {
                "type": "text",
                "id": "header",
                "label": "Header",
                "default": "Customer Reviews"
            },
            {
                "type": "url",
                "id": "url",
                "label": "URL (optional)",
            },
            {
                "type": "text",
                "id": "url_text",
                "label": "URL Text",
                "default": "Shop All"
            },
            {
                "type": "image_picker",
                "id": "stars_image",
                "label": "Stars Image"
            }
        ],
        "blocks": [
            {
                "type": "customer-review",
                "name": "Customer Reviw",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Review Title"
                    },
                    {
                        "type": "image_picker",
                        "id": "review_image",
                        "label": "Review Image"
                    },
                    {
                        "type": "text",
                        "id": "customer_name",
                        "label": "Customer Name",
                        "default": "John Doe"
                    },
                    {
                        "type":"textarea",
                        "id": "review_text",
                        "label": "Customer Review",
                        "default": "lorum ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                    },
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product Link Out (optional)",
                    }
                ]
            }
        ]
    }
{% endschema %}
