{% comment %} {{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }} {% endcomment %}


<link data-href="{{ 'template-collection.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<link data-href="{{ 'component-loading-overlay.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<link data-href="{{ 'component-card.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
<link data-href="{{ 'component-price.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

#product-loader {
  display: inline-block;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #5b5b62;
  animation: spin 1s linear infinite;
}

/* Spin Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.load-previous{
  width: 100%; 
  text-align: center; 
  z-index: 10; 
  display: block; 
  margin: 0rem 0rem 4rem 0rem;
}

.loader-text{
  border: 1px solid #afafaf;
    border-radius: var(--badge-corner-radius);
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1;
    padding: .6rem 1.3rem;
    text-align: center;
    background-color: transparent;
    color: #333;
    word-break: break-word;
    font-family: var(--font-body-family);
}

@media screen and (max-width: 768px) {
  .load-previous{
    margin: 2.5rem 0rem 2rem 0rem;
  }
}

.collection-breadcrumb a {
  color: black;
  text-decoration: none;
}


.seo-description-container .description-container {
  transition: height 0.3s ease-in-out;
  max-width: 50%;
}

.seo-description-container a {
  color: black;
  text-decoration: none;
}
.seo-description-container h2 {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin: 1rem 0;
}
.seo-description-container .description-container p,
.seo-description-container .description-container h2,
.seo-description-container .description-container div {
  text-align: left !important; 
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--font-body-family) !important;
}
.seo-description-container .description-container div {
  margin-bottom: 0.75rem;
}

.seo-description-container .description-container br {
  display: none;
}

.seo-description-container .description-container h2 { 
  margin-bottom: 0.75rem !important;
  font-weight: 600 !important;
}

.seo-description-container span.close {
  display: none;
}

.seo-description-container span.open {
  display: flex;
}

.seo-description-container button span {
  min-width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seo-description-container:has(.description-container.open) span.close {
  display: flex;
}
.seo-description-container:has(.description-container.open) span.open {
  display: none;
} 

.seo-description-container button {
  display: flex;
  gap: 1rem;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem 0.5rem 0;
  font-size: 14px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .seo-description-container.page-width.small-full-width {
    padding: 0 1rem !important;
  }
  .seo-description-container .description-container {
    max-width: 100%;
  }
  .collection-breadcrumb {
    padding: 0 1rem;
  }
  .collection-breadcrumb a {
    font-size: 12px;
  }
}

{%- endstyle -%}

{% liquid

  assign isShareholder = false
  for tag in customer.tags
    if tag == 'shareholder'
      assign isShareholder = true
    endif
  endfor

%}


{% liquid 

  assign merch_box_one = collection.metafields.custom.merch_box.value
  assign merch_box_two = collection.metafields.custom.merch_box_two.value
  assign additional_merch_boxes = collection.metafields.custom.additional_merch_boxes.value
  assign filters_are_active = false

  for filter in collection.filters
    if filter.active_values.size > 0
      assign filters_are_active = true
    endif
  endfor

  # calculate number of products to show per page in order for there to be no gap due to the merch box spacings

  if merch_box_one and merch_box_one.enable_merch_box
    assign merch_box_one_columns = merch_box_one.number_of_columns
  endif 

  if merch_box_two and merch_box_two.enable_merch_box
    assign merch_box_two_columns = merch_box_two.number_of_columns
  endif

  assign initial_iterable_products_per_page = section.settings.products_per_page
  assign final_products_per_page = initial_iterable_products_per_page | minus: merch_box_one_columns | minus: merch_box_two_columns
  
  ####### if free gift multi select is active, change some of the UI 

  if settings.enable_free_multi_gift_select == true

    assign has_reached_gift_threshold = false
    assign cart_contains_gift_item = false
    assign converted_threshold_price = settings.free_multi_gift_select_threshold_price | times: 100
    assign cart_price_towards_free_gift = cart.total_price

    if settings.free_multi_gift_use_qualifying_tag

      assign qualifying_tag = settings.free_multi_gift_qualifying_tag
      assign cart_price_towards_free_gift = 0

      for item in cart.items
        if item.product.tags contains qualifying_tag
          assign cart_price_towards_free_gift = cart_price_towards_free_gift | plus: item.final_line_price
        endif
      endfor

      assign cart_price_towards_free_gift = cart_price_towards_free_gift

    endif

    if cart_price_towards_free_gift >= converted_threshold_price

      assign has_reached_gift_threshold = true

      # in this instance it is ok to use product_id instead of variant because we dont actually use variants at Hammitt
      for item in cart.items
        for product in settings.free_multi_gift_select_collection.products
          if item.product_id == product.id
            assign cart_contains_gift_item = true
          endif
        endfor
      endfor

    endif
  endif

-%}

<div class="section-{{ section.id }}-padding col-wrap" id="product-grid-container">
  {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
    <link data-href="{{ 'component-facets.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
    {% comment %} {{ 'component-facets.css' | asset_url | stylesheet_tag }} {% endcomment %}

    {% if section.settings.use_new_filters %}
        <script src="{{ 'new-filters.js' | asset_url }}" defer="defer"></script>
      {% else %}
        <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
    {% endif %}
  
    <div class="page-width small-full-width" id="main-collection-filters" data-id="{{ section.id }}">
      <div class="collection-breadcrumb">
        <a style="text-decoration: underline;"href="{{ shop.url }}">Home</a>
        /
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      </div>
      {% if section.settings.use_new_filters %}
        {% render 'new-filters', results: collection, blocks: section.blocks %}
      {% else %}
        {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
      {% endif %}
    </div>
  {%- endif -%}
  
  <div id="ProductGridContainer">
    {%- paginate collections[collection.handle].products by final_products_per_page -%}
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div class="collection page-width small-full-width">
          <div class="loading-overlay gradient"></div>
  		  {% assign myIndex = 1 %}

        {% if paginate.previous %}
          <div
            id="AjaxPaginationPrevious"
            class="load-previous"
          >
            <a id="loadprev" href="{{ paginate.previous.url }}">
              {% comment %} <span id="product-loader"></span> {% endcomment %}
              <span class="loader-text">LOAD MORE</span>
            </a>
          </div>
        {% endif %}

          <ul id="product-grid" data-id="{{ section.id }}" class="
            grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
            {% if section.settings.columns_desktop == 1 %} grid--full-width{% else %}
              grid--{{ section.settings.columns_desktop }}-col-desktop
            {% endif %}">

            {%- for product in collection.products -%}
              {% assign outter_loop_index = forloop.index %}
              {% comment %} Only show exclusive collection products if customer has shareholder tag and seo hidden is 1 {% endcomment %}
              {% if isShareholder == false and product.metafields.seo.hidden == 1  %} 
                {% continue %}
              {% endif %}

              {% if product.metafields.custom.hide_product_all_customers == 1 %}
                {% continue %}
              {% endif %}

              {% comment %} FOR EE GWP  {% endcomment %}
              {% liquid
                assign IDayPromotionProduct = false

                # PreOrder
                assign isPreOrderProduct = false 
                
                for tag in product.tags
                  if tag == "EEIDPromotion"
                    assign IDayPromotionProduct = true
                  endif

                  # PreOrder
                  if tag == "ee-pre-order"
                    assign isPreOrderProduct = true
                  endif
                endfor
              %}

              {% assign lazy_load = false %}
              {%- if forloop.index > 2 -%}
                {%- assign lazy_load = true -%}
              {%- endif -%}
              {%- if product.tags contains 'hidden' or product.type == 'hidden' or product.title contains 'Gift wrapping' -%}{%- continue -%}{%- endif -%}
		          {% assign myIndex = myIndex | plus: 1 %}

              {% comment %} MERCH BOX LOGIC / HANDLING {% endcomment %}

              {% comment %} MERCH BOX ONE {% endcomment %}
              {% unless filters_are_active or paginate.current_page > 1 %}
                {% if merch_box_one and merch_box_one.enable_merch_box %}

                  {% if merch_box_one.number_of_columns == 1 and merch_box_one.position_in_grid == forloop.index %}
                    <li class="grid__item">
                      {% render 'merch-box', obj: merch_box_one, index:forloop.index %}
                    </li>
                  {% endif %}

                  {% if merch_box_one.number_of_columns == 2 %}

                    {% assign nearest_odd_number = merch_box_one.position_in_grid %}
                    {% assign mod = nearest_odd_number | modulo: 2 %}
                    {% assign is_even = false %}

                    {% if mod == 0 %}
                      {% assign is_even = true %}
                    {% endif %}

                    {% if is_even  %}
                      {% assign nearest_odd_number = nearest_odd_number | minus: 1 %}
                    {% endif %}

                    {% if nearest_odd_number == forloop.index %}
                      <li class="grid__item">
                        {% render 'merch-box', obj: merch_box_one, index:forloop.index %}
                      </li>
                    {% endif %}
                    
                  {% endif %}

                {% endif %}

                {% comment %} MERCH BOX TWO {% endcomment %}
                {% if merch_box_two and merch_box_two.enable_merch_box %}
    
                  {% if merch_box_two.number_of_columns == 1 and merch_box_two.position_in_grid == forloop.index %}
                    <li class="grid__item">
                      {% render 'merch-box', obj: merch_box_two, index: forloop.index %}
                    </li>
                  {% endif %}

                  {% if merch_box_two.number_of_columns == 2 %}

                    {% assign nearest_odd_number = merch_box_two.position_in_grid %}
                    {% assign mod = nearest_odd_number | modulo: 2 %}
                    {% assign is_even = false %}

                    {% if mod == 0 %}
                      {% assign is_even = true %}
                    {% endif %}

                    {% if is_even  %}
                      {% assign nearest_odd_number = nearest_odd_number | minus: 1 %}
                    {% endif %}

                    {% comment %} 
                      In the case of merch box two, we need to account for how many columns merch box 1 is taking up and adjust grid accordingly 
                    {% endcomment %}

                    {% assign true_insertion_index = forloop.index %}

                    {% if merch_box_one and merch_box_one.enable_merch_box %}
                      {% assign true_insertion_index = true_insertion_index | plus: merch_box_one.number_of_columns %}
                    {% endif %}

                    {% if nearest_odd_number == true_insertion_index %}
                      <li class="grid__item">
                        {% render 'merch-box', obj: merch_box_two, index:true_insertion_index  %}
                      </li>
                    {% endif %}
                    
                  {% endif %}

                {% endif %}
              {% endunless %}

              {% comment %} Additional Merch Boxes {% endcomment %}
              {% unless additional_merch_boxes == blank or filters_are_active %}
                {% if paginate.current_page > 1 %}
                  {% for additional_merch_box in additional_merch_boxes %}
                    {% if additional_merch_box.page_to_appear_on == paginate.current_page %}

                      {% if additional_merch_box.number_of_columns == 1 and additional_merch_box.position_in_grid == outter_loop_index %}
                        <li class="grid__item">
                          {% render 'merch-box', obj: additional_merch_box, index: forloop.index %}
                        </li>
                      {% endif %}

                      {% if additional_merch_box.number_of_columns == 2 %}

                        {% assign nearest_odd_number = additional_merch_box.position_in_grid %}
                        {% assign mod = nearest_odd_number | modulo: 2 %}
                        {% assign is_even = false %}

                        {% if mod == 0 %}
                          {% assign is_even = true %}
                        {% endif %}

                        {% if is_even  %}
                          {% assign nearest_odd_number = nearest_odd_number | minus: 1 %}
                        {% endif %}

                        {% if nearest_odd_number == outter_loop_index %}
                          <li class="grid__item">
                            {% render 'merch-box', obj: additional_merch_box, index: forloop.index %}
                          </li>
                        {% endif %}
                      {% endif %}

                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endunless %}

              <li class="grid__item">
                {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  lazy_load: lazy_load,
                  index: forloop.index,
                  isIDayPromotionProduct: IDayPromotionProduct,
                  isPreOrderProduct: isPreOrderProduct,
                  currentPage: paginate.current_page,
                  enable_gifting_card: section.settings.enable_gifting_grid,
                  has_reached_gift_threshold: has_reached_gift_threshold,
                  cart_contains_gift_item: cart_contains_gift_item,
                  converted_threshold_price: converted_threshold_price
                %}
              </li>
            
              {%- liquid 
              for block in section.blocks 
                assign block_position = block.settings.position | plus: 0
                if block_position == myIndex
                  include 'card-marketing-tile', block: block, media_size: section.settings.image_ratio
                  assign myIndex = myIndex | plus: 1
                  if block.settings.width == '2x' 
                  assign myIndex = myIndex | plus: 1
                  endif
                endif
              endfor 
              -%}
            
            {%- endfor -%}
          </ul>
  
          {%- if paginate.pages > 1 -%}
            {% render 'pagination', paginate: paginate, anchor: '' %}
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endpaginate -%}
    {% unless collection.description == blank%}
      <div class="seo-description-container page-width small-full-width">
        <h2>{{ collection.title }}</h2>
        <div class="description-container">
          <p>{{ collection.description }}</p>
        </div>
      </div>
    {% endunless %}
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {

    const collectionSeoButton = document.querySelector('.seo-description-container button')
    
    if(!collectionSeoButton) return
    
    collectionSeoButton.addEventListener('click', () => {
      openSeoDescription()
    })

    function openSeoDescription() { 

    return

      const descriptionContainer = document.querySelector('.seo-description-container .description-container')
      const neededHeight = descriptionContainer.scrollHeight
    
      if(descriptionContainer.classList.contains('open')) {
        descriptionContainer.style.height = '0px'
        descriptionContainer.classList.remove('open')

        descriptionContainer.style.minHeight = 'unset'

      } else {
        setTimeout(() => {
          descriptionContainer.style.minHeight = 'max-content'
        }, 300)
        document.querySelector('.seo-description-container .description-container').classList.add('open')
        document.querySelector('.seo-description-container .description-container').style.height = `${neededHeight}px`
      }
    }

  })
</script>

{% if section.settings.enable_gifting_grid %}
  <script>
    document.addEventListener('cart:updated', () => {
      fetch(window.location.pathname + "?sections={{ section.id }}")
        .then(res => res.json())
        .then(data => {
          const parser = new DOMParser()
          const doc = parser.parseFromString(data['{{ section.id }}'], 'text/html')
          const newProductGrid = doc.querySelector('#product-grid')
          const currentProductGrid = document.querySelector('#product-grid')    
          if(!newProductGrid || !currentProductGrid) return
          currentProductGrid.innerHTML = newProductGrid.innerHTML
        })

    })
  </script>
{% endif %}

{% schema %}
{
  "name": "Product Grid",
  "class": "section",
  "presets": [
    {
      "name": "Product Grid"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "use_new_filters",
      "label": "Use new filters",
      "info": "Uses new filters designed by Mint and implented by Jared",
      "default": false
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
            {
                "value": "adapt",
                "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
            },
            {
                "value": "portrait",
                "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
            },
            {
                "value": "square",
                "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
            }
        ],
        "default": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "enable_gifting_grid",
      "default": false,
      "label": "Enable Gifting Grid Product Carts",
      "info": "**Should only be used on the gifting collection template"
    }
  ],
  "blocks": [
	{
	    "type":"marketing_tile",
        "name":"Marketing Tile",
        "settings":[
            {
                "type":"image_picker",
                "id":"image",
                "label":"Image"
            },
            {
                "type":"url",
                "id":"link",
                "label":"Link"
            },
            {
                "type": "range",
                "id": "position",
                "min": 0,
                "max": 48,
                "step": 1,
                "label": "Position",
                "default": 3
            },
            {
                "type": "select",
                "id": "width",
                "label": "Width",
                "default":"1x",
                "options": [
                    { "value":"1x","label":"1x" },
                    { "value":"2x","label":"2x" }
                ]
            },
            {
                "type":"text",
                "id":"title",
                "label":"Heading"
            },
            {
                "type":"richtext",
                "id":"paragraph",
                "label":"Paragraph"
            },
            {
                "type":"text",
                "id":"button_text",
                "label":"Button text"
            }
            ]
            },
            {
            "type": "collection-filter-link",
            "name": "Collection Filter Link",
            "limit": 12,
            "settings": [
                {
                    "type":"collection",
                    "id": "collection",
                    "label": "Collection URL"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Alternative Collection Title (optional)"
                }
            ]
        }
    ]
}
{% endschema %}