{{ 'product-reviews-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture json -%}
{
  "loop": true,
  "autoHeight": true,
  "navigation": {
    "nextEl": ".swiper-button-next",
	"prevEl": ".swiper-button-prev"
  }
}
{%- endcapture -%}

<div class="color-background-2">
  <div class="page-width section-{{ section.id }}-padding">
    <!-- Slider main container -->
    <div class="swiper reviews-slider" data-json='{{ json }}'>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for block in section.blocks %}
        {% assign product = block.settings.product %}
        <div class="swiper-slide">
          <div class="product-reviews-slide flex">
            <div class="product-reviews__image center">
              <div class="media" style="padding-bottom: {{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%;">
                <img
                     srcset="{%- if product.featured_image.width >= 165 -%}{{ product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                             {%- if product.featured_image.width >= 360 -%}{{ product.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
                             {%- if product.featured_image.width >= 535 -%}{{ product.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                             {%- if product.featured_image.width >= 750 -%}{{ product.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                             {%- if product.featured_image.width >= 1070 -%}{{ product.featured_image | image_url: width: 1070 }} 1070w,{%- endif -%}
                             {%- if product.featured_image >= 1500 -%}{{ product.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                             {{ product.featured_image | image_url }} {{ product.featured_image.width }}w"
                     data-src="{{ product.featured_image | image_url: width: 1500 }}"
                     sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                     alt="{{ product.featured_image.alt | escape }}"
                     loading="lazy"
                     width="{{ product.featured_image.width }}"
                     height="{{ product.featured_image.height }}"
                     >
              </div>  
              <div class="product-reviews__title">{{ product.title | split: ' - ' | first }}</div>
              <div class="product-reviews__price">{{ product.price | money }}</div>
            </div>
            <div class="product-reviews__content">
              <div class="testimonials--star-wrapper">
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z" fill="black"></path>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z" fill="black"></path>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z" fill="black"></path>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z" fill="black"></path>
                </svg>
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0.5L12.2451 7.40983H19.5106L13.6327 11.6803L15.8779 18.5902L10 14.3197L4.12215 18.5902L6.36729 11.6803L0.489435 7.40983H7.75486L10 0.5Z" fill="black"></path>
                </svg>
              </div>
              <div class="h2">{{ block.settings.heading }}</div>
              <div class="h2">{{ block.settings.subheading }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">&nbsp;</div>
      <div class="swiper-button-next">&nbsp;</div>

    </div>
  </div>
</div>


{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Product Reviews Slider",
  "tag": "section",
  "class": "section",
  "settings": [
	{
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type":"slide",
      "name":"Slide",
      "settings": [
        {
          "type":"product",
          "id":"product",
          "label":"Product"
        },
		{
          "type":"richtext",
          "id":"heading",
          "label":"Review Text"
        },
		{
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
		  "default":"From the press"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Reviews Slider",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
