{{ 'slider-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding{
    padding-top: {{section.settings.mobile_padding_top}}px;
    padding-bottom: {{section.settings.mobile_padding_bottom}}px;
  }
  #shopify-section-{{section.id}} .section-header h2.section-title{
    color: {{section.settings.heading_color}}
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding{
      padding-top: {{section.settings.padding_top}}px;
      padding-bottom: {{section.settings.padding_bottom}}px;
    }
  }

  @media screen and (min-width: 750px) {
    .swiper .swiper-button-next {
      right: var(--swiper-navigation-sides-offset, 25px);
    }

    .swiper .swiper-button-prev {
      left: var(--swiper-navigation-sides-offset, 25px);
    }

    .swiper .swiper-button-next::after,
    .swiper .swiper-button-prev::after {
      font-size: 30px;
    }

    .swiper .swiper-button-next,
    .swiper .swiper-button-prev {
      display: block;
      top: calc(50% - 5rem);
    }
  }

{%- endstyle -%}

{%- capture json -%}
  {
    "slidesPerView": 1,
    "spaceBetween": 20,
    "freeMode": true,
    "mousewheel": false,
    "loop": false,
    "scrollbar": {
      "el": "#shopify-section-{{ section.id }} .swiper-scrollbar",
      "draggable": true
    },
    "effect": "slide",
    "navigation": {
      "nextEl": ".swiper-button-next",
      "prevEl": ".swiper-button-prev"
    },
    "breakpoints": {
      "0": {
        "slidesPerView": "1.4",
        "spaceBetween": 10
      },
      "750": {
        "slidesPerView": "2",
        "spaceBetween": 10
      },
      "990": {
        "slidesPerView": "4",
        "spaceBetween": 35
      }
    }
  }
  {%- endcapture -%}

  {% assign show_secondary_image = section.settings.show_secondary_image %}
  
  <div class="section-wrap section-{{ section.id }}-padding">
  {%- if section.settings.title != blank -%}
  <div class="section-header">
    <h2 class="h1 section-title {{ section.settings.heading_align }}">{{ section.settings.title }}</h2>
  </div>
  {%- endif -%}
  <div class="section-productgrid-wrap">
    <div class="swiper" data-json='{{ json }}'>
      <div class="section-productgrid swiper-wrapper">
        {% for product in section.settings.collection.products limit: section.settings.max_products %}
          {% liquid
            # PreOrder
            assign isPreOrderProduct = false 
            for tag in product.tags
              if tag == "ee-pre-order"
                assign isPreOrderProduct = true
              endif
            endfor
          %}
          <div id="block-{{ product.id }}" class="swiper-slide">
            {%- render 'card-product', 
                card_product: product, 
                show_secondary_image: section.settings.show_secondary_image,
                media_aspect_ratio: section.settings.image_ratio, 
                hide_price: section.settings.hide_price, 
                hide_tag: section.settings.hide_tag, 
                hide_subtitle: section.settings.hide_subtitle, 
                hide_quick_add: section.settings.hide_quick_add, 
                isPreOrderProduct: isPreOrderProduct -%}
          </div>
        {% endfor %}
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</div>

{% schema %}
 {
  "name": "Slider Collection",
  "class": "slider-collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "heading_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Header alignment"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type":"collection",
      "id":"collection",
      "label":"Collection"
    },
	{
      "type": "range",
      "id": "max_products",
      "min": 1,
      "max": 30,
      "step": 1,
      "label": "Max products",
      "default": 5
    },
    {
      "type": "header",
      "content": "Product card settings"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "label": "Show secondary image on hover",
      "default": true
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "hide_price",
 	  "label":"Hide price",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_tag",
 	  "label":"Hide product tag",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_subtitle",
 	  "label":"Hide subtitle",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_quick_add",
 	  "label":"Hide quick add",
      "default": false
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile bottom padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Slider Collection"
    }
  ]
}
{% endschema %}