<style>

    [data-section-id="{{ section.id }}"] {
        padding-top: 2rem;
    }

    .wishlist-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wishlist-container.loaded .spinner {
        display: none;
    }

    .wishlist-container.loaded {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        align-items: start;
    }

    .wishlist-container .wishlist-card {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
    }

    .wishlist-container .wishlist-card .wl-price {
        margin-left: 5px;
    }

    .wishlist-container .wishlist-card img {
        width: 100%;
        height: auto;
    }

    .wishlist-container .wishlist-card h5 {
        margin: 2rem 0 0 0;
        font-weight: 500;
        letter-spacing: 0%;
        text-align: center;
        color: black;
    }

    .wl-text-container {
        max-width: 600px;
        margin: 5rem auto;
        text-align: center;
    }

    .wl-text-container p,
    .wl-text-container h1,
    .wl-text-container h2 {
        margin: 0;
    }

    .wl-text-container h1 {
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0%;

    }

    .wl-text-container h2 a {
        color: black !important;
    }

    .wl-text-container h2 {
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0%;
        margin-top: 2rem;
    }

    @media screen and (max-width: 768px) {
        [data-section-id="{{ section.id }}"] {
            padding-top: 0rem;
        }
        .wishlist-container.loaded {
            grid-template-columns: repeat(2, 1fr);
        }
        .wl-text-container {
            margin: 2.5rem auto;
        }
        .wishlist-container .wishlist-card h5 {
            margin: 1rem 0 0 0;
        }
        .wl-text-container h1 {
            line-height: 34px;
        }
        .wl-text-container h2  {
            line-height: 18px;
            margin-top: 1rem;
        }
    }

</style>

<div data-section-id="{{ section.id }}" class="page-width">
      <div class="wl-text-container">
        <h1>
            {% if customer %}
                {{ customer.first_name }}'S
            {% endif %}
            Wishlist
        </h1>
        {% unless customer %}
            <h2>{{ section.settings.content }}</h2>
        {% endunless %}
      </div>
    <div class="wishlist-container">
        <img class="spinner" src="{{ 'Spinner-2.gif' | asset_url }}" style="width:48px;height:48px;" alt="Loading...">
    </div>
</div>

{% schema %}
{
  "name": "Swym Custom Wishlist",
  "limit": 1,
  "enabled_on": {
    "templates": ["page"]
  },
  "settings": [
    {
        "type": "header",
        "content": "Only for use on pages with Swym Wishlist"
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Wishlist paragraph content",
        "default": "<p><a href=\"/account\" title=\"/account\">Sign in or create an account</a> to save your items permanently, access your saved list from any device, save your addresses for faster checkout and update on items you love.</p>"
    }
  ],
  "presets": [
    {
        "name": "Swym Custom Wishlist"
    }
  ]
}
{% endschema %}
