{% layout none %}
{% paginate search.results by 100 %}
{% for product in search.results %}
{%- liquid
assign product_title = product.title | split: ' - '
assign product_style = product_title[0] 
assign product_color = product_title[1]
if product_style != search.terms
  continue
endif
-%}
<div class="variant-radio">
  <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
         name="{{ product_color }}"
         value="{{ product_color }}"
         form="{{ product_form_id }}"
         >
  <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
    {{ product_color }}
  </label>
</div>
{% endfor %}
{% endpaginate %}